<div class="page-title">
  <div class="page-heading">
    <div>
      Service Provider List
    </div>
    <button mat-button (click)="showFilter = !showFilter">
      {{ !showFilter ? "Show Filter Input(s)" : "Hide Filter Input(s)" }}
    </button>
    <button mat-button (click)="addNew()">Add New</button>
  </div>

  <div *ngIf="showFilter" [@fadeInOut] class="filter-container">
    <mat-form-field class="filter-container">
      <input matInput placeholder="Service Provider Name" autocomplete="off" [(ngModel)]="serviceProviderName" />
    </mat-form-field>

    <mat-form-field class="filter-container">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="statusId" name="statusId">
        <mat-option value="" selected></mat-option>
        <mat-option *ngFor="let item of statusList" [value]="item.id">
          {{ item.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-container">
      <mat-label>Service Type</mat-label>
      <mat-select [(ngModel)]="serviceTypeId" name="serviceTypeId">
        <mat-option value="" selected></mat-option>
        <mat-option *ngFor="let item of serviceTypeList" [value]="item.id">
          {{ item.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="filter-container">
      <button mat-button (click)="applyFilter()">Apply Filter</button>
    </div>
  </div>
</div>
<div class="mat-table-container mat-elevation-z8">
  <mat-table [dataSource]="data" class="mat-table" [class.isMobile]="isMobile" matSort matSortActive="createdOn"
    matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Service Provider Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Service Provider Name:</span>
        <a routerLink="/get-service-provider/{{ row.id }}"> {{ row.name }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serviceType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Service Type:</span>
        {{ row.serviceType.serviceType }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Status:</span>
        {{ row.isEnable ? "Enable" : "Disable" }}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="lastUpdatedOn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated On</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Last Updated On:</span>

        {{ row.lastUpdatedOn }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
        <button mat-icon-button routerLink="/service-provider/{{ row.id }}">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </mat-cell>

    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<mat-paginator [length]="totalRows"></mat-paginator>