<form #formData="ngForm" class="reset-pw-form" novalidate [formGroup]="passwordResetForm"
    (ngSubmit)="onSubmit(passwordResetForm)">
    <div class="flex-row">
        <mat-form-field class="item">
            <input #newPassword matInput placeholder="New Password" autocomplete="off" formControlName="newPassword"
                [type]="hidePassword ? 'password' : 'text'" (blur)="hidePassword= true" />
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                    hidePassword? 'visibility' : 'visibility_off'    
                    }}</mat-icon>
            <mat-error>Password length is not valid (6 to 15).</mat-error>
            <mat-hint>Enter your new password.</mat-hint>
        </mat-form-field>
    </div>
    <div style="display: flex;">
        <div class="item">
            <button mat-raised-button color="primary">
                Change Password
            </button>
        </div>
    </div>

</form>