.forgot-pw-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  padding: 10px;
  max-width: 400px;
}

.captcha-container {
  margin: 40px 0px;
  place-content: space-around;
  display: flex;
}

.item {
  margin: 20px 0px;
}
@media (max-width: 800px) {
  .forgot-pw-form {
    width: 100%;
    padding: 5px;
  }
}
