<form #formData="ngForm" class="forgot-pw-form" novalidate [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit(forgotPasswordForm)">
    <div class="flex-row">
        <mat-form-field class="item">
            <input #email matInput placeholder="Email" autocomplete="off" formControlName="email" />
            <mat-error>Email is not in correct format.</mat-error>
            <mat-hint>Enter your email to get password reset link.</mat-hint>
        </mat-form-field>
    </div>
    <div class="captcha-container">
        <re-captcha formControlName="captcha"></re-captcha>
    </div>
    <div style="display: flex;  place-content: space-around;">
        <div class="item">
            <button mat-raised-button color="primary">
                Submit
            </button>
        </div>
    </div>

</form>